body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


.container{
    display: grid;
    max-width: 350px;
}

.topic{
    position: relative;
    margin: 0 auto;
    z-index: 1;
    background-color: #FF0095;
    border-radius: 5px;
    text-align: center;
    padding-right: 50px;
    padding-left: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    top: 65px;
}

.content{
    padding-top: 60px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 25px;
    background-color: white;
    border-radius: 10px;
}