body{
    text-align: center;
    margin: 0 auto;
    font-family:'Times New Roman', Times, serif;
    font-size: large;
    background-image: url(./Ass3-Asset/pexels-francesco-ungaro-673648.jpg);
    background-size: cover;
    background-position: center;
}

.details{
    text-align: center;
    padding: 100px;
}

a {
    display: flex;
    justify-self: center;
    justify-content: center;
    text-decoration: none;
    background-color:black;
    border: 2px solid rgb(93, 255, 12);
    border-radius: 5px;
    margin: 0 auto;
    padding: 15px;
    width: 60%;
    color: white;
}